*/__pycache__/
backend/artifacts/
backend/beaker-sc/__pycache__/
*.pyc
backend/beaker-sc/__pycache__/contract.cpython-310.pyc
backend/beaker-sc/__pycache__/utils.cpython-310.pyc
backend/smart-contract/__pycache__/candidate.cpython-310.pyc
venv/
.venv/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*